
body {
  background-color: #F9FBF2;
}
h1 {
  color: #FFEDE1;
}
h3 {
  color: #AFCBFF;
}
h1,
h3{
  text-align: center;
  font-family: sans-serif;
}
.content {
  text-align: justify;
  font-family: sans-serif;
  margin-left: 35px;
  margin-right: 35px;
  color: #0E1C36;
}
