
body {
  background-color: lightgrey;
}
h1 {
  color: green;
}
h3 {
  color: indigo;
}
h1,
h3{
  text-align: center;
  font-family: sans-serif;
}
.content {
  text-align: justify;
  font-family: sans-serif;
  margin-left: 35px;
  margin-right: 35px;
  color: Tomato;
}
