@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
  background-color: #F9FBF2;
  font-family: "Nunito";
  font-size: 22px;
}

h1 {
  color: #0E1C36;
}

h2 {
  color: #FFEDE1;
}

p {
  color: #0E1C36;
}

.topnav {
  background-color: #0E1C36;
  overflow: hidden;
  padding-left: 20%;
  padding-right: 20%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #F9FBF2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #0E1C36;
  color: #FFEDE1;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #F9FBF2;
  color: #F9FBF2;
}
